<div class="feedid{{ entry.feed_id }}">
<div class="col-md-8-2" xmlns="http://www.w3.org/1999/html">

    <h3>
        <b><a  href="{{entry.link}}" target="_blank" title="{{entry.title}}">{{entry.get_title()}}</a></b>
    </h3>

    <div class="tags">


<div class="btn-group dropup">

        <!--<button class="dropdown-toggle" data-toggle="dropdown">-->
        <!--</button>-->
    <span class="glyphicon glyphicon-plus" id="tagplus"
                  data-toggle="dropdown"></span>

        <ul class="dropdown-menu" role="menu">

            <li><a href="#"><span class="label label-primary">New Tag...</span></a></li>

            <li class="divider"></li>
            <li><a href="javascript:tag('User Defined Whatever', '15');">
            <span class="label label-info">User Defined Tag</span></a></li>
                          <li><a href="#"><span class="label label-info">Pets</span></a></li>
                          <li><a href="#"><span class="label label-info">Funny</span></a></li>


                        <li><a href="#"><span class="label label-default">Dogs</span></a></li>


        </ul>



    </div>




        <a href="javascript:tag('User Defined Whatever', '15');">
            <span class="label label-info">User Defined Tag</span></a>


        <a href="#"><span class="label label-info">Pets</span></a>
        <a href="#"><span class="label label-info">Funny</span></a>
        <a href="#"><span class="label label-primary">Category Tag</span></a>

        <!--<button type="button" class="btn btn-default btn-lg pull-right">-->
            <!--<span class="glyphicon glyphicon-star-empty"></span></button>-->


    </div>



</div>

<!--there should be a hide button here to hide the div of the entry?-->

    <div class="well">

        <div class="row" id="info">
            <!--<div class="col-md-8">-->

            <span class="glyphicon star glyphicon-star-empty" id="star{{entry.id}}"
                  title="star: {{entry.id}}" onclick="startoggle('#star{{entry.id}}')"></span>


    <p align="right"><span class="brand"><i>{{entry.get_feed_base()}}</i> @ {{entry.get_parsed_time()}} </span></p>

                    <!--</div>-->

            <!--<span class="pull-right">-->
                    <!--<button type="button" class="btn btn-default btn-md pull-right">-->
        <!--<span class="glyphicon glyphicon-plus pull-right"></span>-->
    <!--</button>-->

                <!--<div class="col-md-8">-->
                    <!--<div class="btn-group">-->
                        <!--<button type="button" class="btn btn-default dropdown-toggle sub-btn" data-toggle="dropdown">-->
                            <!--<span class="caret"></span>-->
                            <!--<span class="sr-only">Toggle Dropdown</span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                          <!--<li><a href="/favs/">Add to Favorites</a></li>-->
                          <!--<li><a href="#">Edit Entry Tags</a></li>-->
                          <!--<li><a href="#">Entry Info...</a></li>-->
                          <!--<li class="divider"></li>-->
                          <!--<li><a href="/unsubscribe/">Unsubscribe</a></li>-->
                        <!--</ul>-->
                    <!--</div> &lt;!&ndash; /btn-group &ndash;&gt;-->
                <!--</div>-->


        </span>
    </div> <!--end of row-->





        <p align="center">{{entry.content|safe}}</p>

    </div>

</div>
        <!-- whenever i do incorporate "active" entries, disallow short titles and word wrap long ones.-->