<div class="col-md-8-2" id="contento">


    <h3><b><a href="{{entry.link}}" target="_blank" title="{{entry.title}}">{{entry.get_title()}}</a></b></h3>

<!--there should be a hide button here to hide the div of the entry-->

    <div class="well">



<!--<p align="right">-->


    <div class="btn-group sub-btn" align="right">
        <i>{{entry.get_feed_base()}}</i> @ {{entry.get_parsed_time()}}
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/favs/">Add to Favorites</a></li>
          <li><a href="#">Edit Entry Tags</a></li>
          <li><a href="#">Entry Info...</a></li>
          <li class="divider"></li>
          <li><a href="/unsubscribe/">Unsubscribe</a></li>
        </ul>
      </div><!-- /btn-group -->

</p>


        <p align="center">{{entry.content|safe}}</p>

    </div>
</div>

        <!-- whenever i do incorporate "active" entries, disallow short titles and word wrap long ones.-->