<!DOCTYPE html>

<html lang="en">

<head> {% include 'head.html' %} </head>

{% raw %}
<body ng-app="FeedEaterApp">

   <div ng-controller="messagebarCtrl"
        ng-include src="'/static/angulartemplates/angularmessagebar.html'">
   </div>

<!--main content: -->
<!-- Subscription toolbar & List of Subscribed feeds: -->
<div class='sidebar'>
    <div id="subscription_list" class="col-sm-4"  xmlns="http://www.w3.org/1999/html">

        <div ng-controller="ToolbarCtrl"
             ng-include src="'/static/angulartemplates/angularsubtoolbar.html'"></div>

        <div id='sub_list' ng-controller='SubCtrl'>
            <div ng-include src="'/static/angulartemplates/angularsubs.html'"></div>
        </div>
    </div>
</div>
{% endraw %}


<!--Actual Entry content: -->
<div class="container"> <!--was class="container"-->
    <div class="row">
            <!--here's an idea.. what if this progress bar was (during rest periods) an indicator of how many
            unread posts there are? or just your progress through all posts...?

            OK, here we go: loading entries on refresh fills the progress bar with green
            move through with stacked blue as new entries get read.
x            -->
                <!--<div class="progress progress-striped active">-->
                    <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10"-->
                         <!--aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="pbar">-->
                    <!--&lt;!&ndash;<span class="sr-only">40% Complete (success)</span>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->

{% raw %}
        <div id='content'>
            <div ng-include src="'/static/angulartemplates/angularentries.html'"></div>
        </div>
    </div>


    <div class="col-md-8-2 paging_div" ng-controller='PagerCtrl'>
        <div ng-include src="'/static/angulartemplates/angularpager.html'"></div>
    </div>
{% endraw %}

    <hr>
</div>


<div class="foot">
    {% include 'footer.html' %}
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!--tool tips?-->
        <script type="text/javascript">
            $(function () {
                $("[rel='tooltip']").tooltip();
            });
        </script>

        <!--log in still being used: this should get phased out at some point and put
        into a proper controller -->
        <script src="../static/js/login.js"></script>
  </body>
</html>
