<!--it would be really nice if this was a nested list
<!--of category, and then feed.. although then one feed cannot
<!--have more than one category... -->

<div class="col-sm-4" id="subscription_list">
    <h4>Subscriptions</h4>

    <!--add feeds section:-->

<form name="add_feed" class="navbar-form navbar-left" role="search" action="/add_feed" method="post">
    <div class="form-group">

        {{ add_feed_form.feed(class="form-control", placeholder="Add Feed") }}

    </div>
        {{ add_feed_form.submit(class="btn btn-default") }}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="flash"><span class="label label-danger">{{ message }}</span></div>
                    {% elif category == "info" %}
                        <div class="flash"><span class="label label-primary">{{ message }}</span></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
</form>


    <script type="text/javascript">
        function subClick()
        {
            pageid = document.getElementById("url");
        }
    </script>

    {% for each in subs %}
    <div>
        <div class="btn-group sub-btn">

            {% if each['active'] %}

           <button type="button" value="/favs/" class="btn btn-success sub-btn" title="{{ each['desc'] }}"
                       onclick="window.location.href='/change_active?ufid={{ each['uf_id'] }}&a=0'">

                    <span class="badge pull-right">42</span>
                   <b>{{ each['title'] }}</b>
               </button>

           {% else %}

           <button type="button" value="/favs/" class="btn btn-default sub-btn" title="{{ each['desc'] }}"
                   onclick="window.location.href='/change_active?ufid={{ each['uf_id'] }}&a=1'">
                    {{ each['title'] }}
           </button>

           {% endif %}


        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">

        {% if each['active'] %}
            <li><a href="/change_active?ufid={{ each['uf_id'] }}&a=0">Hide</a></li>
        {% else %}
            <li><a href="/change_active?ufid={{ each['uf_id'] }}&a=1">Show</a></li>
        {% endif %}

        <li class="divider"></li>

          <li><a href="/favs/">Add to Favorites</a></li>
          <li><a href="#">Edit Feed Info...</a></li>
          <li><a href="#">Edit Categories...</a></li>
            <!--automatically tag entries from this feed-->
          <li><a href="#" title="Automatically tag entries from this feed">Auto Tag Entries...</a></li>
          <li class="divider"></li>
          <li><a href="/unsubscribe/">Unsubscribe</a></li>
        </ul>


            </div><!-- /btn-group -->
        </div> <!--end of dropdown menu-->



    {% endfor %}

    <!--</div> &lt;!&ndash; end of enclosing well &ndash;&gt;-->

<!--<hr>-->


       <!--<div class="input-group">-->
          <!--<input type="text" class="form-control" placeholder="Add a new Feed why not...?">-->
          <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-default" type="button">Add!</button>&ndash;&gt;-->
          <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->



    <!--<ul class="list-group">-->
            <!--<a href="#" class="list-group-item">Favorite Posts</a>-->
    <!--</ul>-->



     <!--<p><a class="btn btn-primary btn-sm" role="button">Add &raquo;</a></p>-->

<!--<input type='button' id='hideshow' value='hide/show'>-->
</div>




<script>
    jQuery(document).ready(function(){
    jQuery('#hideshow').live('click', function(event) {
         jQuery('#subscription_list').toggle('show');
    });
});

</script>