<!--it would be really nice if this was a nested list
<!--of category, and then feed.. although then one feed cannot
<!--have more than one category... -->

<div class="col-md-12">
    <h4>Subscriptions</h4>
    <ul class="list-group">

        <!--{% for each in subs %}-->
            <!--<a href="#" class="list-group-item" title="{{ each['desc'] }}">{{ each['title'] }}</a>-->
        <!--{% endfor %}-->
    </ul>


        {% for each in subs %}
        <div>
          <div class="btn-group sub-btn">

              {% if each['active'] %}

               <button type="submit" value="/favs/" class="btn btn-success sub-btn" title="{{ each['desc'] }}"
                       onclick="window.location.href='/change_active?ufid={{ each['uf_id'] }}&a=0'">
                        <b>{{ each['title'] }}</b>
               </button>

               {% else %}

               <button type="submit" value="/favs/" class="btn btn-default sub-btn" title="{{ each['desc'] }}"
                       onclick="window.location.href='/change_active?ufid={{ each['uf_id'] }}&a=1'">
                        {{ each['title'] }}
               </button>

               {% endif %}



        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">

            {% if each['active'] %}
                <li><a href="/change_active?ufid={{ each['uf_id'] }}&a=0">Hide</a></li>
            {% else %}
                <li><a href="/change_active?ufid={{ each['uf_id'] }}&a=1">Show</a></li>
            {% endif %}

            <li class="divider"></li>

          <li><a href="/favs/">Add to Favorites</a></li>
          <li><a href="#">Edit Feed Info...</a></li>
          <li><a href="#">Edit Categories...</a></li>
          <li class="divider"></li>
          <li><a href="/unsubscribe/">Unsubscribe</a></li>
        </ul>

      </div><!-- /btn-group -->

</div>
    {% endfor %}



<hr>
    <!--<ul class="list-group">-->
            <!--<a href="#" class="list-group-item">Favorite Posts</a>-->
    <!--</ul>-->

     <p><a class="btn btn-primary btn-sm" role="button">Add &raquo;</a></p>
</div>