<!--this really needs to  have a "hide sidebar" button that toggles sliding the sublist off screen...-->


<div class="col-sm-4" id="subscription_list">
<!--<h4 id="subh">-->
<!--navbar-brand    -->
<!--</h4>-->
<h4>Subscriptions</h4>
<div class="btn-group">

    <span class="glyphicon glyphicon-cog" id="cog"
                  data-toggle="dropdown"></span>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#"><h6>Unread only</h6></a></li>
            <li class="divider"></li>
            <li><a href="javascript:tag('User Defined Whatever', '15');">
            <span class="label label-info">User Defined Tag</span></a></li>
                          <li><a href="#"><span class="">Starred</span></a></li>
                          <li><a href="#"><span class="">Edit Categories</span></a></li>
                          <li><a href="#"><span class="">Select All/None</span></a></li>
        </ul>
    </div>


    <!--what options should apply to all subs? refresh? select all/none? edit categories?
    unread only? starred posts only?
    well, anyways, those can be attached to this down-chevron: -->


    <!--add feeds section:-->

<form name="add_feed" class="navbar-form navbar-left" role="search" action="/add_feed" method="post">
    <div class="form-group">
        {{ add_feed_form.feed(class="form-control", placeholder="Add Feed") }}
    </div>
        {{ add_feed_form.submit(class="btn btn-default") }}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="flash"><span class="label label-danger">{{ message }}</span></div>
                    {% elif category == "info" %}
                        <div class="flash"><span class="label label-primary">{{ message }}</span></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
</form>
<div></div>
<hr>

    {% for cat in cats %}
    <span class="label label-default">{{ cat }}</span>
        {% for each in subs %}
            {% if each.category == cat %}

    <div>
        <div class="btn-group sub-btn">

            {% if each['active'] %}

           <button type="button" value="/favs/" class="btn btn-success sub-btn" title="{{ each['desc'] }}"
                       onclick="window.location.href='/change_active?ufid={{ each['uf_id'] }}&a=0'">

                    <span class="badge pull-right">42</span>
                   <b>{{ each['title'] }}</b>
               </button>

            <!--ajax version of the above: -->
            <!--<button type="button" value="/favs/" class="btn btn-success sub-btn" title="{{ each['desc'] }}"-->
                       <!--onclick="togglefeed('div.feedid{{each['uf_id']}}')">-->

                    <!--<span class="badge pull-right">42</span>-->
                   <!--<b>{{ each['title'] }}</b>-->
               <!--</button>-->





           {% else %}

           <button type="button" value="/favs/" class="btn btn-default sub-btn" title="{{ each['desc'] }}"
                   onclick="window.location.href='/change_active?ufid={{ each['uf_id'] }}&a=1'">
                    {{ each['title'] }}
           </button>

           {% endif %}


        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <!--<span class="glyphicon glyphicon-chevron-down" id="chev"></span>-->
        <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">

        {% if each['active'] %}
            <li><a href="/change_active?ufid={{ each['uf_id'] }}&a=0">Hide</a></li>
        {% else %}
            <li><a href="/change_active?ufid={{ each['uf_id'] }}&a=1">Show</a></li>
        {% endif %}

        <li class="divider"></li>

          <li><a href="/favs/">Add to Favorites</a></li>
          <li><a href="#">Edit Feed Info...</a></li>
          <li><a href="#">Edit Categories...</a></li>

          <li><a href="#" title="Automatically tag entries from this feed">Auto Tag Entries...</a></li>
          <li class="divider"></li>
          <li><a href="/unsubscribe?ufid={{ each['uf_id'] }}">Unsubscribe</a></li>
        </ul>

            </div><!-- /btn-group -->
        </div> <!--end of dropdown menu-->

       {% endif %}
    {% endfor %}
   {% endfor %}

</div>
