
    {% for cat in cats %}
        <span class="glyphicon glyphicon-folder-open folder" id="cat{{cat}}"
              onclick="foldertoggle('#cat{{cat}}', '.catlist{{cat}}');"></span>

        <!--<a href="/activatecategory?cat={{ cat }}">
        <span class="label label-default catlabel">{{ cat }}</span></a>-->
        <span onclick="toggleCategory('{{cat}}')" class="label label-default catlabel">{{ cat }}</span>

    {% for each in subs %}

            {% if each.category == cat %}

    <div>
        <div class="btn-group sub-btn btn-group-sm catlist{{cat}}">


            <div class="catheader">
            {% if each['active'] %}



           <button type="button"
                   class="btn active-category btn-sm btn-success sub-btn catbtn {{cat}} uf_id{{each['uf_id']}}"
                   title="{{ each['desc'] }}"
                   data-toggle="tooltip" data-placement="right"
                   onclick="togglefeed('{{each['uf_id']}}')">

                    <span class="badge pull-right unreadcount">24</span>
                   {{ each['title']|truncate_title(amt=40) }}
               </button>
           {% else %}

           <button type="button"
                   class="btn inactive-category btn-sm sub-btn catbtn {{cat}} uf_id{{each['uf_id']}}"
                   data-toggle="tooltip" data-placement="right"
                   title="{{ each['desc'] }}"
                   onclick="togglefeed('{{each['uf_id']}}')">

                   <!--onclick="window.location.href='/change_active?ufid={{ each['uf_id'] }}&a=1'">-->

                    {{ each['title']|truncate_title(amt=40)}}

                    <span class="badge pull-right unreadcount">24</span>
           </button>

           {% endif %}
</div>


            <div class="catbutton">

        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
        <!--<span class="caret"></span>-->
        <span class="glyphicon glyphicon-chevron-down catchevron"></span>
        <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">

        <li><a onclick="oneFeedOnly('{{each['uf_id']}}')">Show only this feed</a></li>

        <li class="divider"></li>

          <li><a href="/favs/">Add to Favorites</a></li>
          <li><a href="#">Edit Feed Info...</a></li>

          <li><a href="#" title="Automatically tag entries from this feed">Auto Tag Entries...</a></li>
          <li class="divider"></li>
          <!--<li><a href="/unsubscribe?ufid={{ each['uf_id'] }}">Unsubscribe</a></li>-->

                <li class="dropdown-header">Set Category</li>

                {% for catnew in cats %}

                {% if catnew == each.category %}

                    <li><a><span class="label label-info" id="{{each.category}}">{{ catnew }}</span>
                        </a></li>

                {% else %}
                    <li><a><span class="label label-default cat" id="{{cat}}"
                                      onclick="change_cat('{{each.category}}', '{{catnew}}', '{{each['uf_id']}}')">
                        {{ catnew }}</span></a></li>
                {% endif %}

                {% endfor %}

            <li class="divider"></li>
          <li><a class="unsub" href=#>Unsubscribe</a></li>
        </ul>


        </div>


            </div><!-- /btn-group -->
        </div> <!--end of dropdown menu-->

       {% endif %}
    {% endfor %}
   {% endfor %}