#menucolumn {
    float: right;
    width: 50%;
    height: 100%;
    border-right: 1px solid #d1d1d1;
}

#contentcolumn {

    height: 100%;
    word-wrap: break-word;
}

.uploadSideBar {
    margin-top:117px;
    postion:fixed
}

sidebar-nav {
    position: fixed;
    width: 20%;
    float: right;
}
.entrycontent,{
    float: left;
}

.entries{

}

.sublist {
    float: right;
    width: auto;
}

.container {
    width: 60%;
    padding-right: 2px;
    margin-left: 25%;
   /* margin-right: 15%; */

}


.sidebar {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    padding: 0;


}

.foot {
    position: fixed;
    bottom: 5px;
    height: 15px;
    width:100%;
    margin-top: -15px;
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;

}

.brand {
    margin-left: 20px;

}

.sub-btn {

    width: 99%;
    text-align: left;
}

.col-sm-4 {
    width: 100%

}

.col-sm-2 {
    width: 12%;
}

.navbar-form {
    margin-left: -15px;

}


.col-md-8-2 {

    margin-left: 0px;

}

.tags {
    margin-bottom: 5px;
    margin-top: -5px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;

}


#info {
    height: 30px;
    margin-bottom: 10px;

}

#subtitle {
    width: 50%;

}

.flash {
    margin-top: 5px;
    margin-bottom: 5px;
}

#tagplus {
	cursor:pointer;

}

.star {
    float:right;
    margin-left: 5px;
    font-size: 26px;
	cursor:pointer;
}

#off {

    font-size: 15px;
    margin-bottom: -5px;
}


.cat {
    cursor: pointer;

}

.folder {
    cursor: pointer;
    margin-bottom: 8px;
    margin-top: 8px;

}

#chev {
    float:right;
    width:10%;
}

#cog {

    cursor:pointer;
    font-size: 20px;
    float: left;

}

#hand {

    cursor:pointer;
    font-size: 20px;
    float: left;

}



#cogdiv {


}

#test1 {
    float:right;
}


.catheader {

    float: left;
    width: 90%;
}

.catbutton {
    float: left;
    width: 9%;


}

.catchevron {

    font-size: 10px;
}

.unreadcount {

    font-size: 12px;

}

.catbtn {
    font-size: 12px;

}

.catlabel {
    margin-left: 5px;
    cursor: pointer;
}

.btn-sm {
    border-radius: 7px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-right: 6px;
}

.active-category {
    font-weight: bold;
}

.inactive-category {
    font-weight: normal;
}

.compview {
    display: none;

}

.fullview {

    display: block;
}

.avatar {

    float:left;

}

.avatar img {
    border-radius: 6px;

}