<div class="entry_container" ng-controller="EntriesCtrl">
<!-- our 'no entries' popup: -->
    <div class="col-md-8-2 no_entry_alert" ng-show="no_entries">
        <div class="alert alert-info"><p align="center">
            <b>There are no entries to display.</b></p></div>
    </div>

<!-- loop over our entries: -->

    <div ng-repeat="entry in myData.fromServer.e">
        <div class="feedid{{ entry.feed_id }} entry_list" entryId="{{entry.entry_id}}">
            <div class="col-md-8-2" xmlns="http://www.w3.org/1999/html">
                <h3><b><a  href="{{entry.entry_link}}" target="_blank"
               data-toggle="tooltip" data-original-title="{{entry.entry_title}}"
                class="entry_title"
                title="{{entry.entry_title}}">{{entry.entry_title}}</a></b></h3>

                <div class="tags">
                    <div class="btn-group dropup">
                        <span class="glyphicon glyphicon-plus" id="tagplus"
                              data-toggle="dropdown"></span>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><h6>New Tag...</h6></a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:tag('User Defined Whatever', '15');">

                            <span class="label label-info">User Defined Tag</span></a></li>
                            <li><a href="#"><span class="label label-info">Pets</span></a></li>
                            <li><a href="#"><span class="label label-info">Funny</span></a></li>
                            <li><a href="#"><span class="label label-default">Dogs</span></a></li>
                        </ul>
                    </div>

                    <a href="javascript:tag('User Defined Whatever', '15');">
                        <span class="label label-info">User Defined Tag</span></a>
                    <a href="#"><span class="label label-info">Pets</span></a>
                    <a href="#"><span class="label label-info">Funny</span></a>

                    <a href="#"><span class="label label-default entry_cat_label" id="test1"
                            title="Only this category"
                            ng-click="myData.requestCategoryFeed(entry.category)">
                        {{entry.category}}</span></a>
                </div>
            </div>

            <div class="{{compressed}}">
                <div class="well" scroll-active="{{ entry.entry_unread }}, {{entry.entry_id }}"
                        ng-class="{'unread_entry': entry.entry_unread}">
                     entry unread status: {{ entry.entry_unread }}
                    <div class="row" id="info">
                        <span class="glyphicon glyphicon-info-sign" style="float:left"></span>

                        <span class="glyphicon star glyphicon-star-empty" id="star{{entry.entry_id}}"
                              title="star: {{entry.entry_id}}"></span>

                        <p align="right">
                            <span class="brand">
                                <i>{{entry.url}}</i> @ {{entry.entry_published}}</span></p>
                    </div> <!--end of row-->

                    <p ng-bind-html="entry.entry_content">loading...</p>

                </div>
            </div>
        </div>
    </div>
</div>
