
<h4>Subscriptions</h4>


<!--input box: -->
<form name="add feed" class="navbar-form navbar-left input_thing"
          ng-submit="add_feed()" ng-if="userId !==5">

    <div class="form-group">

        <!-- input type should be URL down the line.. -->
        <input type="text" id="add_feed_text" ng-model="inputText" name="inputText"
               class="form-control input_thing" placeholder="Add Feed"/>
    </div>

    <input type="submit" id="add_btn" name="submit" value="Add"
           class="btn btn-default"/>

        <!--error/info messages-->
    <div class="flash" id="error_msg" ng-show="errorMessage || infoMessage || successMessage">
        <span ng-class="{'label-danger': errorMessage,
        'label-primary': infoMessage, 'label-success': successMessage}"
              class="label">{{ messageText }}</span></div>

</form>



<!--control buttons: -->
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-default" id="refbtn"
                ng-click="refreshFeeds()">

            <span class="glyphicon glyphicon-refresh refspan" id="cog" title="refresh feeds"></span>
        </button>


        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-cog" id="cog"
                  data-toggle="dropdown"></span>
            <ul class="dropdown-menu" role="menu">
            <li><a href="#"><h6>Unread only</h6></a></li>
            <li class="divider"></li>
            <li><a href="javascript:tag('User Defined Whatever', '15');">
            <span class="label label-info">User Defined Tag</span></a></li>
                          <li><a href="#">
                              <span class="">Starred <!-- was recalculateEntries with true for starred -->
                              </span></a></li>
                          <li><a href="#">
                              <span class="">Edit Categories</span></a></li>
        </ul></button>




    <button type="button" class="btn btn-default" onclick="">
       <span ng-class="{'glyphicon-align-justify': user_preferences.compressed,
                        'glyphicon-th-list': !user_preferences.compressed}"
               class="viewchange glyphicon" id="cog" title="compressed view">
       </span>
    </button>

    <button type="button" class="btn btn-default" ng-click="all_feeds()">
       <span class="glyphicon glyphicon-globe" id="hand" title="show all feeds"></span>
    </button>


    <button type="button" class="btn btn-default">
       <span class="glyphicon glyphicon-star" id="starred_btn"
                 ng-click=""
                 title="show starred posts"></span>
    </button>


    <button type="button" class="btn btn-default">
       <span class="glyphicon glyphicon-hand-left" id="hand" title="push left"></span></button>
    </div>
<br>

</div>


<!--modal pop up-->
<script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Multiple Feeds Found:</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="feed in feeds">
                    <a ng-click="choice(feed)">{{ feed }}</a>
                </li>
            </ul>
        </div>
    </script>