<div ng-repeat="cat in subData.fromServer.cats">

    <span class="glyphicon folder" id="cat{{cat}}"
          ng-class="{'glyphicon-folder-open': isActive, 'glyphicon-folder-close': !isActive}"
          ng-init="isActive=true"
          ng-click="isActive=!isActive"
          onclick=""></span>


    <span onclick="" ng-click="subData.categoryFeed(cat)"
          ng-class="isOn(cat)"
          class="label label-default catlabel">{{ cat }}</span>

    <div ng-repeat="sub in subData.fromServer.subs" ng-if="sub.category==cat">
        <div class="btn-group sub-btn btn-group-sm catlist{{cat}}" ng-if="isActive">
            <div class="catheader">
               <button type="button"
                       ng-class="sub.active ? 'btn-success active-category' : 'inactive-category'"
                       class="btn btn-sm sub-btn catbtn {{cat}}
                       uf_id{{sub.uf_id}} f_id{{sub.feed_id}}"
                       title="{{ sub.desc }}"
                       data-toggle="tooltip" data-placement="right"
                       onclick=""
                       ng-click="subData.toggleFeed(sub.uf_id)">

                            <span class="badge pull-right unreadcount">{{sub.count}}</span>
                       {{ sub.title | limitTo: 40 }}
               </button>
            </div>

            <div class="catbutton">

                <button type="button" class="sub_menu btn btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-chevron-down catchevron"></span>
                <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a onclick="" ng-click="subData.singleFeed(sub.uf_id)">Show only this feed</a></li>
                    <li class="divider"></li>
                    <li><a href="/favs/">Add to Favorites</a></li>
                    <li><a href="#">Edit Feed Info...</a></li>
                    <li><a href="#" title="Automatically tag entries from this feed">Auto Tag Entries...</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Set Category</li>
                    <li class="divider"></li>
                    <li><a class="unsub" ng-click="subData.unsubscribeFeed(sub.uf_id)">Unsubscribe</a></li>
                </ul>
            </div>

        </div><!-- /btn-group -->
    </div> <!--end of dropdown menu-->
</div>

