<!--header/top-level stuff: -->

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

     <div class="avatar"><a href="http://gravatar.com/emails/" target="_blank" ng-show="min_bar">
        <img ng-src="{{ gravatar }}"
             title="Change your avatar at gravatar.com"></a>
    </div>


     <div class="brand"> <a class="navbar-brand" href="/"># The Feed_Eater Project</a> </div>

        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

      <div class="navbar-right" align="right">

          <ul class="nav navbar-nav" align="right">
            <li class="active"><a href="#">Home</a></li>

               <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/refresh">Refresh Feeds</a></li>
                <li><a ng-click="min_barToggle();">Show/Hide MessageBar</a></li>
                <li><a href="#">Compressed Display</a></li>
                <li><a href="#"># Entries per Page</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li><a href="/logout"><span class="glyphicon glyphicon-off" id="off" title="logout"> </span></a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      <!--</div> <----->
          <!--</div>-->

     <div class="container row pbar_min" ng-show="min_bar">
        <progress style="margin-top: 10px;"><bar value="bar.progress" type="success"></bar>
          <bar value="bar.remaining" type="info"></bar></progress>


</div>





            <!--<div class="navbar-collapse collapse">-->

    </div>



<!--messagebar stuff: -->



<div class="navbar-collapse collapse">


<div class="jumbotron jum_one" ng-show="!min_bar" ng-init="isCollapsed=false" collapse="isCollapsed">

    <button class="btn btn-default pull-right" ng-click="isCollapsed=true; min_barToggle();">hide</button>
    <div class="avatar"><a href="http://gravatar.com/emails/" target="_blank">
        <img ng-src="{{ gravatar }}"
             title="Change your avatar at gravatar.com"></a>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div id="welcome-msg" style="display:block;">
            <h1 class="hi_class">Hi, {{nickname}}!</h1>
            <p>Reinventing the wheel for fun, not profit.</p>

<!--login crap: -->
<div class="row"  ng-if="role === 1">
    <button class="btn btn-primary btn-lg" ng-hide="!pre_login"
           ng-click="pre_login=false" id="create_acct">Start Feed_Eating &raquo;</button>

    <div class="col-md-8 row" id="login_text" ng-show="!pre_login">
        <div class="row">
            <h4 style="float:left;">Log in with:</h4>
            <a class="login-btns" role="button" style="cursor: pointer; float:left;"
               onclick="gmail_login('https://www.google.com/accounts/o8/id')" id="gmail_login">
                <img src="../static/img/social_google_box_new.png" height="60px" width="60px">
            </a>

            <a class="login-btns" role="button" style="cursor: pointer; float:left;"
               onclick="fb_login()" id="fb_login">
                <img src="../static/img/social_facebook_box_blue_new.png" height="60px" width="60px">
            </a>
        </div>
    </div>
</div>
</div>
</div>


        <div class="col-md-3 bird" align="right">
            <p><img src="../static/img/bird-main.png"
                    height="47%" width="47%" title="Because internet loves birds"></p>
        </div>


        </div>

        <progress><bar value="bar.progress" type="success"></bar>
                  <bar value="bar.remaining" type="info"></bar></progress>



        </div>
    </div>
</div>